.slider-container {
  margin: 20px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 20px 0 60px;
}

.slider-container:focus {
  outline: none;
}

.slider-container label {
  display: block;
  margin-bottom: 8px;
}

.slider {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 25px;
}

.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
  margin: 0 5px;
}

.slider-btn:focus {
  outline: none;
}

.slider-bar {
  position: relative;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 20px 0;
}

.slider-thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: -9px;
  height: 28px;
  width: 50px;
  background-color: dodgerblue;
  border-radius: 5px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  padding: 2px 8px;
}

.slider-thumb.show-increments::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid dodgerblue;
}

.slider-fill {
  background-color: dodgerblue;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.slider-markers {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.slider-marker {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marker-line {
  width: 1px;
  height: 10px;
  background-color: black;
  margin-bottom: 2px;
  margin-left: -1px;
}

.marker-label {
  position: absolute;
  top: 14px;
  font-size: 12px;
}

.slider-marker:nth-child(1) {
  left: 0%;
}
.slider-marker:nth-child(2) {
  left: 25%;
  transform: translateX(-50%);
}
.slider-marker:nth-child(3) {
  left: 50%;
  transform: translateX(-50%);
}
.slider-marker:nth-child(4) {
  left: 75%;
  transform: translateX(-50%);
}
.slider-marker:nth-child(5) {
  right: 0%;
}
