.slider {
  margin: 20px 0;
}

.slider label {
  display: block;
  margin-bottom: 8px;
}

.slider-bar {
  position: relative;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
}

.slider-thumb {
  position: absolute;
  top: -5px;
  height: 20px;
  width: 20px;
  background-color: #3498db;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  transition: opacity 3s;
  opacity: 1;
}

.slider-thumb-centre {
  width: 10px; height: 10px;
  background: white; 
  border-radius: 50%
}

.slider-thumb:hover {
  background-color: #2980b9;
}

.slider-fill {
  background-color: dodgerblue;
  height: 100%;
  border-radius: 5px 0 0 5px;
}